<div class="list-group table-of-contents">
  <a class="list-group-item" href="#" ng-click="createroom()">Create Room <i class="clickable fa fa-folder fa-lg"></i></a>
  <a class="list-group-item" href="#" ng-click="createdoc()">Create Document <i class="clickable fa fa-plus fa-lg"></i></a>
  <a class="list-group-item" href="#" ng-click="delete()">Delete <i class="clickable fa fa-trash-o fa-lg"></i></a>
  <a class="list-group-item" href="#">Opt4</a>
  <a class="list-group-item" href="#">Opt5</a>
  <a class="list-group-item" href="#">Opt6</a>
  <a class="list-group-item" href="#">Opt7</a>
  <a class="list-group-item" href="#">Opt8</a>
</div>