<div class="list-group table-of-contents">
	<a class="list-group-item" href="#" ui-sref="workarea.list">Home <i class="clickable fa fa-home fa-lg"></i></a>
	<a class="list-group-item" href="#" ng-click="createroom()">Room <i class="clickable fa fa-folder fa-lg"></i></a>
	<a class="list-group-item" href="#" ui-sref="workarea.container">Container <i class="clickable fa fa-plus fa-lg"></i></a>
	<a class="list-group-item" href="#" ui-sref="workarea.fileupload">Upload File <i class="clickable fa fa-plus fa-lg"></i></a>
	<a class="list-group-item" href="#" ng-click="createdoc()">Empty Doc <i class="clickable fa fa-plus fa-lg"></i></a>
	<a class="list-group-item" href="#" ng-click="delete()">Delete <span class="fa fa-trash"></span></a>
	<a class="list-group-item" href="#">Opt8</a>
</div>