<div class="col-lg-10 col-md-3 col-sm-4" style="margin-top:-5px;">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumb">
          <li><a href="#" ui-sref="workarea.list">Home</a></li>
          <li>{{user}}</li>
          <li class="active">{{pdfURL.substr(41)}}</li>
        </ul>
      </div>
    </div>
    <!-- Unsupported mime type -->
    <div ng-if="mimeTypeHandler() == 'unknown'" class="text-center container">
      <div class="alert alert-warning" role="alert">
        <p class="text-center">This document can't be viewed in browser window.</p>
      </div>
    </div>
    <!-- application/pdf -->
    <div ng-if="mimeTypeHandler() == 'pdf'" class="text-center container">
      <div class="row">
        <div class="btn-group">
          <button class="btn btn-default" ng-click="gotoPage(1)">|&lt;</button>
          <button class="btn btn-primary" ng-click="prevPage()">&lt;</button>
          <button class="btn btn-primary" ng-click="nextPage()"> &gt;</button>
          <button class="btn btn-default" ng-click="gotoPage(totalPages)">&gt;|</button>
        </div>
      </div>
      <div class="row">
        <span class="label" ng-show="totalPages">{{currentPage}}/{{totalPages}}</span>
      </div>
      <div class="row">
        <pdfviewer src="{{pdfURL | trusted}}" on-page-load='pageLoaded(page,total)' id="viewer" load-progress='loadProgress(loaded, total, state)'></pdfviewer>
      </div>
    </div>
    <!-- audio/* -->
    <div ng-if="mimeTypeHandler() == 'audio'" ng-controller="workspaceAudioCtrl" class="text-center container">
     <div class=col-md-offset-7>
      <h3>
        {{audio.id.substr(41)}} &ndash; <code>{{audio.currentTime | trackTime}}</code>
      </h3>
      <p ng-if=audio.error>
        Error playing this sound.
      </p>
      <p ng-if=!audio.canPlay>
        Sound is loading, or you are viewing this on a device that doesn't support the <code>canPlay</code> property.
      </p>
    </div>
    <div ng-if='!audio.error' class='form-group col-md-8 col-md-offset-6'>
      <form class=form-inline>
        <div class='form-group col-xs-9'>
          <button class='btn btn-success' ng-click='audio.paused ? audio.play() : audio.pause()'>{{audio.paused ? "Play" : "Pause" }}</button>
          <button class='btn btn-info' ng-click='audio.muting = !audio.muting'>{{audio.muting ? "Unmute" : "Mute" }}</button>
        </div>
      </form>
    </div>
    <form class='form-horizontal'>
      <div class="form-group">
        <label class="col-md-4 control-label" for="prependedtext">Progress</label>
        <div class="col-md-8">
          <div class="input-group">
            <span class="input-group-addon"></span>
            <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.progress' style="background-color: #4e5d6c;">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="prependedtext">Volume</label>
        <div class="col-md-8">
          <div class="input-group">
            <span class="input-group-addon"></span>
            <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.volume' style="background-color: #4e5d6c;">
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- image/* -->
  <div ng-if="mimeTypeHandler() == 'image'" class="text-center container">
    <img ng-src="{{source}}" style="max-width: 500px; max-height: 500px" />
  </div>
  <!-- text -->
  <div ng-if="mimeTypeHandler() == 'text'" ng-controller="workSpaceEditorCtrl" ng-init="txtSrc()" class="text-center container">
    <br>
    <div class="container">
      <div text-angular ng-model="data" name="texteditor" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
    </div>
    <br>
    <div class="container text-center lighter border-around">
      <div class="lighter roboto">
      </div>
    </div>
    <br>
  </div>
  <!-- video/* -->
  <div ng-if="mimeTypeHandler() == 'video'" ng-controller="workspaceVideoCtrl" class="text-center container">
    <section class="ng-video-container">
      <section class="video" ng-video>
        <video vi-screen></video>

        <section vi-controls class="controls">
          <span vi-controls-play title="Play" class="fa fa-play" style="font-size: 12px;"></span>
          <span vi-controls-pause title="Pause" class="fa fa-pause" style="font-size: 12px;"></span>
        </section>

        <section class="full-screen">
          <span title="Full Screen" vi-full-screen-toggle class="fa fa-expand"></span>
        </section>

        <section vi-feedback class="feedback">
          <span class="buffering" ng-show="buffering">Buffering...</span>
          <section class="loading" ng-show="loading">
            Loading...
          </section>

          <section vi-volume class="volume">
            <div class="scale">
              <div class="bar" style="width: {{volume * 100}}%"></div>
            </div>

            <span vi-volume-decrease title="Decrease Volume" class="decrease fa fa-volume-down" style="color:white; font-size: 15px;"></span>
            <span vi-volume-increase title="Increase Volume" class="increase fa fa-volume-up" style="color:white; font-size: 15px;"></span>
          </section>
          <section class="duration">
            {{currentTime | number: 1}}s of {{duration | number: 1}}s
            [{{percentagePlayed | number: 0}}%]
          </section>

          <section class="title">sTeam</section>
          <section class="timeline">
            <input vi-timeline />
          </section>
          <section vi-buffer class="buffer"></section>
        </section>
        <section vi-playlist class="playlist" ng-show="$parent.playlistOpen">
          <ul>
            <li class="title">
              <span class="fa fa-list"></span> &nbsp;
              Playlist
              <div class="close-playlist"
              title="Close Playlist"
              ng-click="$parent.playlistOpen = !$parent.playlistOpen">
              &times;
            </div>
          </li>
          <li vi-playlist-video ng-repeat="video in videos" ng-model="video">
            <span vi-meta ng-model="video" class="meta">
              {{duration | number: 2}}s
            </span>
            {{getVideoName}}
          </li>
        </ul>
      </section>
      <span title="Open Playlist" ng-show="!playlistOpen" ng-click="playlistOpen = !playlistOpen" class="open-playlist fa fa-list" style="font-size: 12px;"></span>
    </section>
  </section>
</div>
</div>
</div>
