<div class="col-lg-10 col-md-3 col-sm-4" style="margin-top:15px;">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumb">
          <li><a href="#" ui-sref="workarea.list">Home</a></li>
          <li>{{user}}</li>
          <li class="active">{{pdfURL.substr(41)}}</li>
        </ul>
      </div>
    </div>
    <!-- application/pdf -->
    <div ng-if="mimeTypeHandler() == 'pdf'" class="text-center container">
      <div class="row">
        <div class="btn-group">
          <button class="btn btn-default" ng-click="gotoPage(1)">|&lt;</button>
          <button class="btn btn-primary" ng-click="prevPage()">&lt;</button>
          <button class="btn btn-primary" ng-click="nextPage()"> &gt;</button>
          <button class="btn btn-default" ng-click="gotoPage(totalPages)">&gt;|</button>
        </div>
      </div>
      <div class="row">
        <span class="label" ng-show="totalPages">{{currentPage}}/{{totalPages}}</span>
      </div>
      <div class="row">
        <pdfviewer src="{{pdfURL | trusted}}" on-page-load='pageLoaded(page,total)' id="viewer" load-progress='loadProgress(loaded, total, state)'></pdfviewer>
      </div>
    </div>
  </div>
</div>
