<div class="col-lg-10 col-md-3 col-sm-4" style="margin-top:15px;">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">{{user}}</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="roomItem">
          <div class="roomItemIcon"><i class="fa fa-files-o"></i></div>
          <div class="itemText clickable">--name-- <a href="#">view</a> </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="roomItem">
          <div class="roomItemIcon roomItemBlue"><i class="fa fa-file-text"></i></div>
          <div class="itemText clickable">--name--<a href="#">view</a></div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="roomItem">
          <div class="roomItemIcon roomItemGreen"><i class="fa fa-file-pdf-o"></i></div>
          <div class="itemText clickable">--name-- <a href="#">view</a></div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="roomItem">
          <div class="roomItemIcon roomItemRed"><i class="fa fa-file-image-o"></i></div>
          <div class="itemText clickable"> --name-- <a href="#">view</a></div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="roomItem" ng-repeat="item in items" ng-if="item.mime_type == 'video/mp4'">
          <div class="roomItemIcon roomItemOrange"><i class="fa fa-file-video-o"></i></div>
          <div class="itemText clickable"> {{item.name}} <a href="#" ng-show="item.class == 'Document'" ng-click="invokeObj(item.class, item.path, item.mime_type)">&nbsp;view</a></div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="roomItem" ng-repeat="item in items" ng-if="item.mime_type == 'audio/mpeg'">
          <div class="roomItemIcon roomItemGrey"><i class="fa fa-file-audio-o"></i></div>
          <div class="itemText clickable"> {{item.name}} <a href="#" ng-show="item.class == 'Document'" ng-click="invokeObj(item.class, item.path, item.mime_type)">&nbsp;view</a></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-4" ng-repeat="item in items" ng-if="item.class == 'Room' || item.class == 'Document' || item.class == 'Container'">
          <div class="panel panel-success clickable" ng-show="item.class == 'Document'" ng-click="invokeObj(item.class, item.path, item.mime_type)">
            <div class="panel-heading">
              <h3 class="panel-title">{{item.name}}</h3>
            </div>
            <div class="panel-body" ng-if="item.description != ''">
              {{item.description}}
            </div>
            <div class="panel-body" ng-if="item.description.length == 0">
              No description found
            </div>
          </div>
        </div>
        <div class="col-lg-4" ng-repeat="item in items" ng-if="item.class == 'Room' || item.class == 'Document' || item.class == 'Container'">
          <div class="panel panel-info clickable" ng-show="item.class == 'Room'" ng-click="invokeObj(item.class, item.path, item.mime_type)">
            <div class="panel-heading">
              <h3 class="panel-title">{{item.name}}</h3>
            </div>
            <div class="panel-body" ng-if="item.description != ''">
              {{item.description}}
            </div>
            <div class="panel-body" ng-if="item.description.length == 0">
              No description found
            </div>
          </div>
        </div>
        <div class="col-lg-4" ng-repeat="item in items" ng-if="item.class == 'Room' || item.class == 'Document' || item.class == 'Container'">
          <div class="panel panel-danger clickable" ng-show="item.class == 'Container'" ng-click="invokeObj(item.class, item.path, item.mime_type)">
            <div class="panel-heading">
              <h3 class="panel-title">{{item.name}}</h3>
            </div>
            <div class="panel-body" ng-if="item.description != ''">
              {{item.description}}
            </div>
            <div class="panel-body" ng-if="item.description.length == 0">
              No description found
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
