<!-- Breadcrumb, workarea switch, options -->
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <div class="alert alert-success">
        <center><h4>{{user}}'s workarea</h4></center>
      </div>
    </div>
    <div class="col-lg-5">
      <a ui-sref="workarea.list" class="btn btn-info btn-lg btn-block">Private</a>
    </div>
    <div class="col-lg-5">
      <a ui-sref="workarea.groups" class="btn btn-warning btn-lg btn-block">Groups</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-4">
      <div ui-view="options"></div>
      <br>
      <br>
    </div>
       <!-- for loading workspace -->
      <div ui-view="groupsList"></div>
      <div ui-view="uploadFile"></div>
      <div ui-view="createRoom"></div>
      <div ui-view="workspaceList"></div><br>
      <div ui-view="workspaceDetailed"></div>
    </div>
</div>
<div class="container">
  <div ui-view="comments"></div>
</div>
